<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4fd1c5;">
  <div class="container-lg">
    <a class="navbar-brand" href="#">Belanjayuk</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
      </div>
      <a href="#" class="btn btn-light" style="margin: 0 5px;">Sign Up</a>
      <a href="#" class="btn btn-outline-light" style="margin: 0 5px">Sign In</a>
    </div>
  </div>
</nav>